{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
    .main {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row" style="margin:10px;">
    <div class="col-md-4">
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="{{location.image.url}}" alt="Card image cap" height="200px"
                    width="200px">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
            
            <!-- Title -->
                <h4 class="card-title">{{location.name}}</h4>
                <!-- Text -->
                <p class="card-text">{{location.location}}</p>
                <button class="btn btn-pink" type="button" data-toggle="modal" data-target="#BusinessForm">Add A
                    Business</button> 
                <div class="modal fade" id="BusinessForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Add Business</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="form animated slideInDown">
                                    <form action="/hood/{{location.name}}" method="POST">
                                        {% csrf_token %}
                                        {% bootstrap_form business_form %}
                                        <button class="btn btn-outline-info modal-footer d-flex justify-content-center"
                                            type="submit">Submit </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!-- Card -->
    </div>

